{% extends 'base_account.html' %}
{% load static i18n %}

{% block main %}
  <div class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="card">
      <div class="text-center mt-2">
        <a href="{% url 'core:index' %}">
          <img
            src="{% static 'imgs/favicon/android-chrome-512x512.png' %}"
            class="card-img-top img-fluid"
            alt="..."
            style="max-width: 128px"
          />
        </a>
      </div>
      <div class="card-body">
        <h1 class="card-title text-center">
          <a href="{% url 'core:index' %}" class="text-capitalize">{% trans 'Control of historical activos' %}</a>
        </h1>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />

          <div class="row">
            <div class="col-12 form-floating mb-3">
              {{ form.username }}
              <label for="login_username" class="form-label">Usuario o Correo
              </label>
              {% for error in form.username.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="col-12 form-floating mb-3">
              {{ form.password }}
              <label for="login_password" class="form-label">Contraseña</label>
              {% for error in form.password.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>
          </div>

          <div class="d-grid gap-2 mb-2">
            <!-- Botón de login -->
            <button type="submit" class="btn btn-success">Iniciar sesión</button>

            <!-- Registrarme -->
            <a class="btn btn-outline-success" href="{% url 'account:register' %}">
              ¿No tienes una cuenta? Registrate
            </a>
          </div>
        </form>

        <div class="text-center mt-3" style="font-size:11px">
          <a href="" target="_blank">
            Condiciones del Servicio
          </a>
          <span class="mx-1">&middot;</span>
          <a href="" target="_blank">
            Política de Privacidad
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
