{% extends 'base.html' %}

{% load static i18n %}

{% block meta_seo %}
    <meta name="title" content="{% trans 'Legal Expertise with Human Quality, Propensiones International' %}">
    <meta name="description" content="{% trans 'Specialized legal and financial consulting in Colombia and internationally. Pensions, insolvency, foreign investments, and more.' %}">
    <meta name="keywords" content="{% trans 'Legal advice, financial insolvency, denied pensions, foreign investments, civil law, criminal law, paymaster, urgent conciliation, Propensiones Internacional' %}">
        
    <meta property="og:title" content="{% trans 'Legal Expertise with Human Quality, Propensiones International' %}"/>
    <meta property="og:description" content="{% trans 'Specialized legal and financial consulting in Colombia and internationally. Pensions, insolvency, foreign investments, and more.' %}"/>
    <meta property="og:url" content="https://propensionesabogados.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'assets/imgs/favicon/favicon.ico' %}"/>

    <meta content="PROPENSIONES ABOGADOS" property="site_name" />
    <meta content="PROPENSIONES ABOGADOS" property="og:site_name" />
    <meta content="website" property="og:type" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% trans 'Legal Expertise with Human Quality, Propensiones International' %}" />
    <meta name="twitter:description" content="{% trans 'Specialized legal and financial consulting in Colombia and internationally. Pensions, insolvency, foreign investments, and more.' %}"/>
    <meta content="{% static 'assets/imgs/favicon/favicon.ico' %}" name="twitter:image" />
    
{% endblock meta_seo %}

{% block third_css %}
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
{% endblock third_css %}

{% block third_js %}{% endblock third_js %}

{% block custom_js %}{% endblock custom_js %}

{% block custom_css %}
    <link href="{% static 'assets/custom/css/main.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock header %}

{% block main %}
    <main class="main">
        {% include 'pages/sections/1_hero_section.html' %}
        {% include 'pages/sections/2_principles_section.html' %}
        {% include 'pages/sections/alliance_section.html' %}
        {% include 'pages/sections/onu_section.html' %}
        {% include 'pages/sections/3_CEO_jorge.html' %}
        {% include 'pages/sections/4_social_sense.html' %}
        {% include 'pages/sections/5_social_projects.html' %}
        {% include 'pages/sections/6_about_section.html' %}
        {% include 'pages/sections/7_all_team_section.html' %}
        {% include 'pages/sections/8_services_section.html' %}
        {% include 'pages/sections/9_corporate_social_responsibility_section.html' %}
        {% include 'pages/sections/10_team_section.html' %}
        {% include 'pages/sections/11_stats_section.html' %}
        {% include 'pages/sections/12_contact_section.html' %}
    </main>
{% endblock main %}

{% block content %}
{% include 'partials/whatsapp.html' %}
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
    <div id="preloader"></div>
    {% include 'partials/banner.html' %}
{% endblock content %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}

{% block body_third_js %}
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
{% endblock body_third_js %}

{% block body_custom_js %}
    <script src="{% static 'assets/custom/js/main.js' %}"></script>
{% endblock body_custom_js %}
