{% load i18n %}

<footer id="footer" class="footer position-relative light-background">
  <div class="container footer-top">
    <div class="row gy-4 d-flex align-items-center justify-content-between">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <span class="sitename">PROPENSIONES</span>
        </a>
        <ul>
          <li>
            {% trans 'Denied Pensions' %}
          </li>

          <li>
            {% trans 'Economic Insolvency' %}
          </li>

          <li>
            {% trans 'Conciliations' %}
          </li>

          <li>
            {% trans 'Labor Law' %}
          </li>

          <li>
            {% trans 'Corporate Training' %}
          </li>

          <li>
            {% trans 'International Law' %}
          </li>
        </ul>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-youtube"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>{% trans 'Useful Links' %}</h4>
        <ul>
          <li><a href="{% url 'core:index' %}#hero">{% trans 'Home' %}</a></li>
          <li><a href="{% url 'core:index' %}#about">{% trans 'About us' %}</a></li>
          <li><a href="{% url 'core:index' %}#services">{% trans 'Services' %}</a></li>
          <li><a href="{% url 'core:terms_and_conditions' %}">{% trans 'Terms of service' %}</a></li>
          <li><a href="{% url 'core:privacy_policy' %}">{% trans 'Privacy policy' %}</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>{% trans 'Contact Us' %}</h4>
        <p>Colombia</p>
        <p class="mt-4">
          <strong>{% trans 'Phone:' %}</strong> <span>+(57) 318 328 01 76</span>
        </p>
        <p>
          <strong>{% trans 'Email:' %}</strong>
          <span>info@propensionesabogados.com</span>
        </p>
        <p>
          <strong>{% trans 'Email:' %}</strong>
          <span>support@propensionesabogados.com</span>
        </p>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>
      © <span>Copyright</span>
      <strong class="sitename">Propensiones Abogados</strong>
      <span>{% trans 'All Rights Reserved' %}.</span>
    </p>
    <div class="credits">
      {% trans 'Designed by' %} <a href="https://sebasmoralesd.com/">Sebastián Morales</a> & <a href="#">Carlos Morales</a>
    </div>
  </div>
</footer>
