{% load static i18n %}

<section id="team" class="team section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Team</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-5 d-flex align-items-center justify-content-center">
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Dr. Jorge Vega.jpg' %}"
            class="img-fluid"
            alt="CEO image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Dr. Jorge Vega</h4>
          <span>Chief Executive Officer (CEO)</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Carlos Morales.png' %}"
            class="img-fluid"
            alt="COO image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Carlos Morales</h4>
          <span>Chief Operation Officer (COO)</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Diana Trujillo.jpg' %}"
            class="img-fluid"
            alt="CAO image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Diana Trujillo</h4>
          <span>Chief Administrative Officer (CAO)</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Carlos Espinal.png' %}"
            class="img-fluid"
            alt="Tax Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Carlos Espinal</h4>
          <span>International Tax Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Aura Pineda.png' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Aura Pineda</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Humberto Turriago.jpg' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Humberto Turriago</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="700"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Sebastián Morales.png' %}"
            class="img-fluid"
            alt="Security Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Sebastián Morales</h4>
          <span>Chief Technology Officer</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="800"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Lida Beltrán.jpg' %}"
            class="img-fluid"
            alt="Banking Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Lida Beltrán</h4>
          <span>International Banking Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="900"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Maximiliano Jiménez.jpg' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Maximiliano Jiménez</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="1000"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/James Sabogal.jpg' %}"
            class="img-fluid"
            alt="Risk Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>James Sabogal</h4>
          <span>International Risk Analyst</span>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="1100"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Andrés Ciro.jpg' %}"
            class="img-fluid"
            alt="Risk Analyst image"
          />
          <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Andrés Ciro</h4>
          <span>International Risk Analyst</span>
        </div>
      </div>
    </div>
  </div>
</section>
