{% load static i18n %}

<section id="team" class="team section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans 'Team' %}</h2>
  </div>

  <div class="container">
    <div class="row gy-5 d-flex align-items-center justify-content-center">

      {% for member in team_members %}
        <div class="col-lg-3 col-md-4 member" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:'1' }}0">
          <div class="member-img">

            {% if member.photo %}
              <img src="{{ member.photo.url }}" class="img-fluid" alt="{{ member.full_name }}" />
            {% else %}
              <img src="{% static 'assets/imgs/team/default.webp' %}" class="img-fluid" alt="{{ member.full_name }}" />
            {% endif %}

            {% if member.linkedin_url %}
              <div class="social">
                <a href="{{ member.linkedin_url }}" target="_blank" rel="noopener noreferrer">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            {% endif %}
          </div>

          <div class="member-info text-center">
            <h4>{{ member.full_name }}</h4>
            <span>{{ member.role }}</span>

            <a href="{{ member.get_absolute_url }}">
              <h5 style="font-size:15px">{% trans 'View more' %}</h5>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
