{% load static i18n %}

<section id="team" class="team section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans 'Team' %}</h2>
  </div>

  <div class="container">
    <div class="row gy-5 d-flex align-items-center justify-content-center">
      <!-- Jorge Vega CEO -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="10"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Dr. Jorge Vega.jpg' %}"
            class="img-fluid"
            alt="CEO image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Dr. Jorge Vega</h4>
          <span>Chief Executive Officer (CEO)</span>
        </div>
      </div>

      <!-- Carlos Morales COO -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="20"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Carlos Morales.png' %}"
            class="img-fluid"
            alt="COO image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Carlos Morales</h4>
          <span>Chief Operation Officer (COO)</span>
        </div>
      </div>

      <!-- Diana Trujillo -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="30"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Diana Trujillo.jpg' %}"
            class="img-fluid"
            alt="CAO image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Diana Trujillo</h4>
          <span>Chief Administrative Officer (CAO)</span>
        </div>
      </div>

      <!-- Sebastián Morales CTO -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="70"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Sebastián Morales.png' %}"
            class="img-fluid"
            alt="Chief Technology Officer image"
          />
          <div class="social">
            <a href="https://www.linkedin.com/in/sebasti%C3%A1n-morales-delgado-33902b1a1/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>Sebastián Morales</h4>
          <span>Chief Technology Officer (CTO)</span>
        </div>
      </div>
      
      <!-- Aura Pineda -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Aura Pineda.png' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Aura Pineda</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <!-- Humberto Turriago -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="60"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Humberto Turriago.jpg' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Humberto Turriago</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <!-- Carlos Espinal -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="40"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Carlos Espinal.png' %}"
            class="img-fluid"
            alt="Tax Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Carlos Espinal</h4>
          <span>International Tax Analyst</span>
        </div>
      </div>

      <!-- Lida Beltrán -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="80"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Lida Beltrán.jpg' %}"
            class="img-fluid"
            alt="Banking Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Lida Beltrán</h4>
          <span>International Banking Analyst</span>
        </div>
      </div>

      <!-- Maxmiliano Jiménez -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="90"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Maximiliano Jiménez.png' %}"
            class="img-fluid"
            alt="Legal Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Maximiliano Jiménez</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>

      <!-- José Henry -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Jose Henry.png' %}"
            class="img-fluid"
            alt="Asset Raising Specialist image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>José Henry Ramírez</h4>
          <span>Asset Raising Specialist</span>
        </div>
      </div>

      <!-- Luis Carlos Turriago -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="110"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Luis Turriago.png' %}"
            class="img-fluid"
            alt="Project Management and Finances image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>Luis Carlos Turriago</h4>
          <span>Project Management and Finances</span>
        </div>
      </div>

      <!-- José Norbey Ocampo -->
      <div
        class="col-lg-3 col-md-4 member"
        data-aos="fade-up"
        data-aos-delay="110"
      >
        <div class="member-img">
          <img
            src="{% static 'assets/imgs/team/Jose Norvey.png' %}"
            class="img-fluid"
            alt="International Legal Analyst image"
          />
          <!-- <div class="social">
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div> -->
        </div>
        <div class="member-info text-center">
          <h4>José Norbey Ocampo</h4>
          <span>International Legal Analyst</span>
        </div>
      </div>
    </div>
  </div>
</section>
