{% load static i18n %}

<section id="ceo" class="section light-background container">
  <div class="container section-title" data-aos="fade-up">
    <h2>{% trans 'C.E.O Jorge Uriel Vega Londoño' %}</h2>
  </div>

  <div class="row justify-content-end g-3 align-items-center">
    <div class="col-md-4 text-center order-2 order-md-1">
      <img
        src="{% static 'assets/imgs/about/credential_camara_jorge.png' %}"
        alt="counter img"
        data-aos="fade-in"
        class="img-fluid"
        style="max-width: 52%;"
      />
    </div>

    <div class="col-md-8 text-center order-1 order-md-2">
      <img
        src="{% static 'assets/imgs/about/jorge_vega.png' %}"
        alt="counter img"
        data-aos="fade-in"
        class="img-fluid rounded-end px-md-5"
      />
    </div>
  
    
  </div>
  
  
</section>
