{% load static i18n %}

<section id="ceo" class="section light-background" style="position: relative;">
  <style>
    .badge-responsive {
      position: absolute;
      top: 10px;
      max-width: 100px;
      /* por defecto: móviles */
      height: auto;
    }

    @media (min-width: 992px) {

      /* lg en Bootstrap */
      .badge-responsive {
        max-width: 200px;
        /* pantallas grandes */
      }
    }

    .badge-left {
      left: 10px;
    }

    .badge-right {
      right: 10px;
    }
  </style>


  <div class="section-title" data-aos="fade-up">
    <h2>{% trans 'C.E.O Jorge Uriel Vega Londoño' %}</h2>
  </div>

  <!-- Contenedor relativo -->
  <div style="position: relative; display: inline-block;">
    <!-- Imagen de fondo (CEO) -->
    <img src="{% static 'assets/imgs/about/jorge_vega.png' %}" alt="CEO" class="img-fluid rounded-end"
      style="display:block;" />

    <!-- Insignia izquierda -->
    <img src="{% static 'assets/imgs/about/diplomado_insolvencia.png' %}" alt="Diplomado Insolvencia"
      class="badge-responsive badge-left" data-aos="fade-right"/>

    <!-- Insignia derecha -->
    <img src="{% static 'assets/imgs/about/2000clientes.gif' %}" alt="2000 Clientes"
      class="badge-responsive badge-right" data-aos="fade-left"/>
  </div>