{% load static i18n %}

<section id="services" class="services section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Services</h2>
    <p>
      {% blocktrans %}Our firm offers a comprehensive set of specialized
      services to support financial, tax, risk management operations, and
      humanitarian projects internationally. Each service can be contracted
      individually or in a complete package, adapted to the client's specific
      needs. {% endblocktrans %}
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <!-- Service 1 -->
      {% trans 'International Consultancy' as international_consultancy %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-briefcase-fill"></i>
          </div>
          <div>
            <h4 class="title">
              <a
                href="#contact"
                onclick="setSubject('{{international_consultancy}}')"
              >
                {{international_consultancy}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}We provide comprehensive legal and financial
              advice for global operations, ensuring regulatory compliance and
              optimizing resources in international relations. {%endblocktrans%}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 2 -->
      {% trans 'International Paymaster' as international_paymaster %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-credit-card-fill"></i>
          </div>
          <div>
            <h4 class="title">
              <a
                href="#contact"
                onclick="setSubject('{{international_paymaster}}')"
              >
                {{international_paymaster}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Specialized services to manage payment flows in
              high-value international transactions, ensuring security and
              transparency. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 3 -->
      {% trans 'International Tax Planning' as international_tax %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-receipt"></i>
          </div>
          <div>
            <h4 class="title">
              <a href="#contact" onclick="setSubject('{{international_tax}}')">
                {{international_tax}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Our team provides a thorough analysis of
              international tax obligations, identifying opportunities to
              optimize the tax burden. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 4 -->
      {% trans 'Risk Analysis' as risk_analysis%}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-shield-fill-exclamation"></i>
          </div>
          <div>
            <h4 class="title">
              <a href="#contact" onclick="setSubject('{{risk_analysis}}')">
                {{risk_analysis}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Comprehensive risk assessments for international
              transactions, covering financial, regulatory, and operational
              factors. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 5 -->
      {% trans 'Banking Transaction Support' as banking_transaction %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-bank"></i>
          </div>
          <div>
            <h4 class="title">
              <a
                href="#contact"
                onclick="setSubject('{{banking_transaction}}')"
              >
                {{banking_transaction}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}End-to-end support for international banking
              transactions, ensuring security and compliance. {%endblocktrans%}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 6 -->
      {% trans 'Atlas Software' as atlas_software%}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-display"></i>
          </div>
          <div>
            <h4 class="title">
              <a href="https://atlas.propensionesabogados.com/" target="_blank">
                {{atlas_software}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Advanced technology solution for managing
              international operations, available individually or as part of a
              service package. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 7 -->
      {% trans 'Training for International Operations' as inter_operations %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-mortarboard-fill"></i>
          </div>
          <div>
            <h4 class="title">
              <a href="#contact" onclick="setSubject('{{inter_operations}}')">
                {{inter_operations}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Tailored training programs to enhance the skills
              of staff managing international assets and operations.
              {%endblocktrans%}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->

      <!-- Service 8 -->
      {% trans 'Humanitarian Project Assistance' as humanitarian_projects %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="800">
        <div class="service-item d-flex">
          <div class="icon flex-shrink-0">
            <i class="bi bi-people-fill"></i>
          </div>
          <div>
            <h4 class="title">
              <a
                href="#contact"
                onclick="setSubject('{{humanitarian_projects}}')"
              >
                {{humanitarian_projects}}
              </a>
            </h4>
            <p class="description">
              {% blocktrans %}Comprehensive support for humanitarian projects,
              including planning, execution, and training for impactful
              outcomes. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
      <!-- End Service -->
    </div>

    <!-- Final Call to Action -->
    <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="500">
      <a href="{% url 'core:index' %}#contact" class="contact-service-button">
        {% trans 'Contact Us' %} <i class="bi bi-chat-dots"></i>
      </a>
    </div>
  </div>
</section>
