{% load static i18n %}

<section id="contact" class="contact section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <form
          method="post"
          class="contact-email-form"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                required=""
              />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                required=""
              />
            </div>

            <div class="col-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required=""
                id="contact_subject"
              />
            </div>

            <div class="col-12">
              <textarea
                class="form-control"
                name="message"
                rows="6"
                placeholder="Message"
                required=""
              ></textarea>
            </div>

            <div class="col-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>

              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>{% trans 'Address' %}</h3>
              <p>{% trans 'Calle 21 Number 16-37 Office 705' %}</p>
              <p>Colombia, Armenia, Quindio</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>{% trans 'Call Us' %}</h3>
              <p>+(57) 318 328 01 76</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>{% trans 'Email Us' %}</h3>
              <p>info@propensionesabogados.com</p>
              <p>support@propensionesabogados.com</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="500">
              <i class="bi bi-clock"></i>
              <h3>{% trans 'Open Hours' %}</h3>
              <p>{% trans 'Monday - Friday' %}</p>
              <p>9:00AM - 12:00PM</p>
              <p>2:00AM - 6:00PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
