{% load i18n %}
<section id="social_sense" class="section light-background">
  <h3
    class="text-center"
    style="font-weight: bold"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    {% trans 'Why was our law firm born with a social sense?' %}
  </h3>

  <div class="container mx-auto">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
        <p>
          {% blocktrans %} PROPENSIONES LAWYERS arose from my mother's tireless
          fight to obtain her pension, after being denied it seven times over 17
          years. After much research, perseverance and dedication, we managed to
          secure your pension rights. {%endblocktrans%}
        </p>
  
        <p>
          {% blocktrans %}Inspired by the joy and well-being that this brought to
          my mother, we opened the DENIED PENSIONS service with a strong social
          commitment, focused on helping others obtain and enjoy their pension
          rights, thus improving their quality of life.{%endblocktrans%}
        </p>
      </div>
  
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <p>
          {% blocktrans %} Today, thanks to GOD and personal effort, she enjoys
          her pension. From the moment I saw THE HAPPINESS that obtaining pension
          rights brings to a person, I started PROPENSIONES ABOGADOS as a line of
          business with a social objective focused on improving people's quality
          of life through obtaining and enjoying your pension right.
          {%endblocktrans%}
        </p>
        <p>
          {% blocktrans %} Thanks to our rigorous work, little by little we have
          achieved great successes that have allowed us to internationalize to
          cover the corporate needs of our clients. {%endblocktrans%}
        </p>
      </div>
    </div>
  </div>
  
</section>
