{% load static i18n %}

<section id="principles" class="principles section light-background">
  <div class="container">
    <div class="row gy-4">
      <!-- Corporate Social Responsibility -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3>
            <span>
              <i class="bi bi-person-heart"></i> {% trans 'Corporate Social Responsibility' %}
            </span>
          </h3>
          <p>
            {% blocktrans %} We strongly believe in giving back to the community
            and supporting causes that reflect our values.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}We donate part of our income to rescuing street
            animals because we understand the importance of caring for abandoned
            pets and giving them a second chance.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %} By supporting this noble cause, we not only improve
            these animals' quality of life but also promote a more compassionate
            and responsible society. {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}Your contribution with us has a direct impact on
            creating a better future for these animals in need.{%endblocktrans%}
          </p>
        </div>
      </div>

      <!-- Principles -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="principles-container">
          <!-- Justice -->
          <div class="principle-item">
            <h3>
              <i class="bi bi-bank"></i> <strong>{% trans 'Justice' %}</strong>
            </h3>
            <p>
              {% blocktrans %} We act with fairness and impartiality, ensuring
              that everyone is treated equally and their rights are respected.
              {% endblocktrans %}
            </p>
          </div>
          <!-- Integrity -->
          <div class="principle-item">
            <h3>
              <i class="bi bi-shield-check"></i> <strong>{% trans 'Integrity' %}</strong>
            </h3>
            <p>
              {% blocktrans %} We are consistent in our actions and beliefs,
              always guided by the values of faith in God. {% endblocktrans %}
            </p>
          </div>
          <!-- Dedication -->
          <div class="principle-item">
            <h3>
              <i class="bi bi-lightning-charge"></i> <strong>{% trans 'Dedication' %}</strong>
            </h3>
            <p>
              {% blocktrans %} We are deeply committed to defending our clients'
              rights with passion and determination, striving to achieve goals
              and honor our commitments. {% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
