{% load static i18n %}

<section id="social_responsibility" class="section light-background vh-100">
    <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'Insolvency, Denied Pensions, Civil Labor Law and Business Training' %}</h2>
    </div>

    <!--
        7 Lacteos
        8 Vivienda digna
    -->

    <div id="carouselCaptions" class="carousel slide" data-bs-touch="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0"  aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1"  aria-label="Slide 2"                                   ></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"  aria-label="Slide 3"                                   ></button>
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3"  aria-label="Slide 4"                                   ></button>

        </div>

        <div class="carousel-inner">
            <!-- Insolvency -->
            <div class="carousel-item active">
                <img src="{% static 'assets/imgs/social_projects/proyecto_insolvencia.png' %}" class="d-block w-100" alt="{% trans 'Economic Insolvency' %}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="highlight-bg">
                        <h5>{% trans 'Economic Insolvency' %}</h5>
                        <p>{% trans 'Economic insolvency process for non-trading natural persons' %}</p>
                    </div>
                </div>
            </div>

            <!-- Denied Pensions -->
            <div class="carousel-item">
                <img src="{% static 'assets/imgs/social_projects/proyecto_pensiones_negadas.png' %}" class="d-block w-100" alt="{% trans 'Denied Pensions' %}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="highlight-bg">
                        <h5>{% trans 'Denied Pensions' %}</h5>
                        <p>{% trans 'We are your unconditional ally so that you can enjoy the fruits of a lifetime of work' %}</p>
                    </div>
                </div>
            </div>

            <!-- Business Training -->
            <div class="carousel-item">
                <img src="{% static 'assets/imgs/social_projects/proyecto_capacitacion_empresarial.png' %}" class="d-block w-100" alt="{% trans 'Business Training' %}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="highlight-bg">
                        <h5>{% trans 'Business Training' %}</h5>
                        <p>{% trans 'Businessmen, Entrepreneurs and Merchants' %}</p>
                    </div>
                </div>
            </div>

            <!-- Civil Labor Law -->
            <div class="carousel-item">
                <img src="{% static 'assets/imgs/social_projects/proyecto_laboral_civil.png' %}" class="d-block w-100" alt="{% trans 'Civil Labor Law' %}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="highlight-bg">
                        <h5>{% trans 'Civil Labor Law' %}</h5>
                        <p>{% trans 'Businessmen, Entrepreneurs and Merchants' %}</p>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% trans 'Previous' %}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% trans 'Next' %}</span>
        </button>
    </div>
</section>