{% load static i18n %}

<section id="clients" class="clients section ">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4 justify-content-between">
      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="{% static 'assets/imgs/allies/VEGA-LONDONO-LOGO.png' %}" class="img-fluid" alt="vega londoño logo" />
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="{% static 'assets/imgs/allies/SINERGY SAS.png' %}" class="img-fluid" alt="sinergy logo" />
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="{% static 'assets/imgs/allies/DISCAPE.png' %}" class="img-fluid" alt="discape logo" />
      </div>

      <div class="col-xl-2 col-md-3 col-6 client-logo">
        <img src="{% static 'assets/imgs/allies/LEGALS.png' %}" class="img-fluid" alt="legals abogados logo" />
      </div>
    </div>
  </div>
</section>
