{% load static i18n %}

<section id="social_responsibility" class="principles section light-background">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row gy-4">
      <!-- Corporate Social Responsibility -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="10">
        <div class="content px-xl-5">
          <h3>
            <span>
              <i class="bi bi-person-heart"></i>
              {% trans 'Corporate Social Responsibility' %}
            </span>
          </h3>
          <p>
            {% blocktrans %} We strongly believe in giving back to the community
            and supporting causes that reflect our values.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}We donate part of our income to rescuing street
            animals because we understand the importance of caring for abandoned
            pets and giving them a second chance.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %} By supporting this noble cause, we not only improve
            these animals' quality of life but also promote a more compassionate
            and responsible society. {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}Your contribution with us has a direct impact on
            creating a better future for these animals in need.{%endblocktrans%}
          </p>
        </div>
      </div>

      <!-- Corporate Social Responsibility IMG -->
      <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="20">
        <img src="{% static 'assets/imgs/social_responsibility/responsabilidad_corporativa.webp' %}"
          class="img-fluid rounded" alt="" style="max-height: 400px" />
      </div>

      <!-- Social Responsibility with the Community -->
      <div class="row container gy-4">
        <div class="row col-md-8 g-2" data-aos="fade-up">
          <div class="col-6">
            <img src="{% static 'assets/imgs/social_responsibility/1-soup kitchens for homeless.webp' %}"
              class="img-fluid rounded" alt="soup kitchens for homeless" style="max-height: 400px" />
          </div>

          <div class="col-6">
            <img src="{% static 'assets/imgs/social_responsibility/4-diaries.webp' %}" class="img-fluid rounded"
              alt="diaries for children" style="max-height: 400px" />
          </div>

          <div class="col-6">
            <img src="{% static 'assets/imgs/social_responsibility/3-support for the elderly.webp' %}"
              class="img-fluid rounded" alt="support for the elderly" style="max-height: 400px" />
          </div>

          <div class="col-6">
            <img src="{% static 'assets/imgs/social_responsibility/2-pets.webp' %}" class="img-fluid rounded"
              alt="social responsibility with animals" style="max-height: 400px" />
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up">
          <p>
            {% blocktrans %}We firmly believe in giving back to society and supporting causes that reflect our
            principles.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}With our own resources, we allocate part of our income to the rescue and protection of
            animals as sentient beings, convinced of the importance of providing them with care, dignity, and a new
            chance at life.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}Similarly, we develop programs aimed at the elderly, children, and homeless
            people—populations that deserve special protection and concrete actions that restore hope and well-being.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}For us, this commitment is not only social, but also an obligation to God, who reminds us of
            the duty to serve, protect, and dignify the most vulnerable.{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}Each of these initiatives is realized in actions, not promises. Our commitment is fulfilled
            directly, without intermediaries.{% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>