{% load static i18n %}

<section id="gold_service" class="section light-background">
  <div data-aos="fade-up">
    <div class="section-title" data-aos="fade-up">
      <h2>{% trans 'Official Mineral Trading Company' %}</h2>
    </div>

    <div style="position: relative; display: inline-block;">
      <img src="{% static 'assets/imgs/services/gold_img.webp' %}" alt="gold service img" class="img-fluid rounded-end" style="display:block;" />
    </div>

    <div class="container mt-4" data-aos="fade-up">
      <h5 class="text-start text-black">{% blocktrans %}Institutional structure specializing in the national and international marketing of precious metals, with reach in the United States, Canada, Europe and South Africa.{% endblocktrans %}</h5>
      <h5 class="text-start text-black">{% blocktrans %}Through Propensiones S.A.S., comprehensive processes of purchase, sale, transformation, benefit, intermediation and export of minerals such as gold, silver, diamonds and emeralds are developed, under criteria of legality, traceability and compliance with international regulations throughout the value chain.{% endblocktrans %}</h5>
    </div>
  </div>
</section>
