{% load static i18n %}

<section id="alliance" class="section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'New International Alliances' %}</h2>
    </div>

    <div class="container" data-aos="fade-left">
        <!-- alliance 1 -->
        <img src="{% static 'assets/imgs/sections/alliance-slide-1.webp' %}" class="d-block w-100"
            alt="{% trans 'Global alliance' %}">
    </div>

    <div class="container section-title mt-5" data-aos="fade-up">
        <h2>{% trans 'We continue to grow internationally' %}</h2>
        <h2>{% trans 'We are now Global Alliance' %}</h2>
    </div>

    <div class="container" data-aos="fade-right">
        <!-- alliance 2 -->
        <img src="{% static 'assets/imgs/sections/alliance-slide-2.webp' %}" class="d-block w-100"
            alt="{% trans 'Private alliance with AM PRO holdings' %}">
    </div>
</section>