{% load static i18n %}

<section id="alliance" class="section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'International Private Consortium with a global purpose.' %}</h2>
        <h3>
            {% trans 'One Global Purpose' %}
        </h3>
        <h4>
            {% blocktrans %}
            We are proud to announce that we have consolidated our direct and active presence in the North American market.
            {% endblocktrans %}
        </h4>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-between gy-3">
            <div class="col-12" data-aos="fade-left">
                <!-- alliance 1 -->
                <img src="{% static 'assets/imgs/sections/alliance-slide-1.webp' %}" class="img-fluid mx-auto d-block"
                    alt="{% trans 'Global Alliance' %}">
            </div>
        </div>
    </div>

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>{% trans 'IPCON BUSINESS ECOSYSTEM' %}</h2>
        <h3>
            {% blocktrans %}
            A dynamic and interactive collaborative environment to generate efficiency, innovation and shared competitive advantage.
            {% endblocktrans %}
        </h3>
    </div>

    <div class="container">
        <div class="row align-items-center justify-content-between gy-3">
            <div class="col-12" data-aos="fade-left">
                <!-- alliance 1 -->
                <img src="{% static 'assets/imgs/sections/alliance-slide-2.png' %}" class="img-fluid mx-auto d-block"
                    alt="{% trans 'Global Alliance' %}">
            </div>
        </div>
    </div>

    
    {% comment %}
    <!-- Collage de logos -->
    <!-- <div class="container mt-5" data-aos="zoom-in">
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
                <img src="{% static 'assets/imgs/brands/brand3.webp' %}" class="img-fluid"
                    style="max-height: 400px; object-fit: contain;" alt="Brand 3">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <img src="{% static 'assets/imgs/brands/brand4.webp' %}" class="img-fluid"
                    style="max-height: 400px; object-fit: contain;" alt="Brand 4">
            </div>
        </div>
    </div> -->
    {% endcomment %}
</section>