{% load static i18n %}

<section id="principles" class="section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>UN DESA - ONU</h2>
    </div>

    <div class="container">
        <div class="row">
            <!-- Support to Attlas -->
            <div class="col-md-6 mt-3 align-content-center" data-aos="fade-up" data-aos-delay="40">
                <p>
                    {% blocktrans trimmed %}
                    The law firm Propensiones Internacional supports the <a href="https://fundacionattlas.org/"
                        target="_blank" rel="opener referrer" class="text-decoration-underline">Fundación Attlas
                        Org</a>, REGISTERED in the database
                    of the United Nations Department of Economic and Social Affairs (UN DESA - ONU), within the
                    framework of its
                    project ‘Colombia Debt Relief: A New Beginning’.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                    This initiative seeks to strengthen asset recovery and economic stability through legal and
                    financial
                    mechanisms, promoting international cooperation and sustainable development. Its purpose is to
                    combat extreme
                    poverty and economic vulnerability by providing legal tools for financial rehabilitation, access to
                    decent
                    opportunities, and the construction of a fair and sustainable social balance.
                    {% endblocktrans %}
                </p>
            </div>

            <div class="col-md-6 mt-3 text-center" data-aos="fade-up" data-aos-delay="50">
                <a href="https://fundacionattlas.org/" target="_blank" rel="opener referrer">
                    <img src="{% static 'assets/imgs/logoHorizontalAttlas.png' %}" alt="Attlas" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>